.album-card {
    flex: 0 0 60px;
    height: 450px;
    cursor: pointer;
    border-right: 1px dashed var(--border-color);
    position: relative;
    overflow: hidden;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    max-width: 240px;

    &:last-child {
        border-right: none;
    }

    &:hover {
        z-index: 10;
    }

    .flag {
            width: 100%;
            height: min-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            pointer-events: none;
            z-index: 2;
            margin-bottom: 15px;
            position: absolute;
            bottom: 0;
            left: 0;

            .line {
                width: 100%;
                height: 5px;
            }

            .line:nth-child(1) {
                background-color: var(--sunset-orange);
            }

            .line:nth-child(2) {
                background-color: var(--tomato-red);
            }

            .line:nth-child(3) {
                background-color: var(--dark-magenta);
            }

            .line:nth-child(4) {
                background-color: var(--eggplant-purple);
            }
        }

    .collapsed-header {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 2;
        padding-bottom: 40px;
        box-sizing: border-box;
        
        .vertical-text {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;

            .code {
                writing-mode: vertical-lr;
                text-orientation: mixed;
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--text-primary);
                letter-spacing: 3px;
                font-family: monospace;
                transform: rotate(180deg);
                margin-bottom: 1rem;
                font-family: 'Chivo Mono', monospace;
                font-weight: 500;
                font-size: 30px;
                letter-spacing: 10%;
                color: var(--text-primary);
            }

            .date {
                writing-mode: vertical-lr;
                text-orientation: mixed;
                color: var(--text-secondary);
            }
        }
    }

    .expanded-content {
        height: 100%;
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // padding: 2rem;
        
        padding-bottom: 40px;
        box-sizing: border-box;
        // background-color: var(--bg-color);
        position: relative;
        z-index: 1;

        .album-preview {
            width: 100%;
            aspect-ratio: 1;
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--card-bg);
            padding: 10px;
            box-shadow: 0 8px 25px var(--card-shadow);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .preview-placeholder {
                font-size: 4rem;
            }
        }

        .album-info {
            text-align: center;
            font-family: 'Bebas Neue', sans-serif;
                // font-family: 'Chivo Mono', monospace;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .album-name {
                font-size: 1.6rem;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: var(--text-primary);
                margin: 0;
            
            }

            .album-date {
                font-size: 1.4rem;
                color: var(--text-primary);
                font-weight: 500;
                margin: 0;
            }
        }
    }
}