.dashboard {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
    margin: 0 auto;
    overflow-y: auto;
    position: relative;
    
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
        margin-top: 80px;
        margin-bottom: 30px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--border-color);
        border-radius: 10px;
        min-height: 24px;
        height: 50px;
        max-height: 50px;
        transition: background-color 120ms ease, transform 120ms ease;
        
        &:hover {
            // background: var(--border-color-hover);
            transform: translateZ(0);
        }
    }

    /* Provide a subtle inset when hovering over the grid */
    &:hover &::-webkit-scrollbar-track {
        background: rgba(0,0,0,0.02);
    }
}

.overlay {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, var(--bg-color) 0%, transparent 100%);
    z-index: 10;
    pointer-events: none;
}

.albums-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
    padding-top: 0;
    height: auto;
    align-content: flex-start;
    padding-bottom: 200px;
    max-height: 100%;

    .column {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    } 
}

