@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    // Colors
    --bg-color: #{$aged-cream-light};
    --content-bg: #{$aged-cream-light};
    --header-bg: #{$aged-cream-light};
    --text-primary: #{$text-primary-light};
    --text-secondary: #{$text-secondary-light};
    --border-color: #{$border-color-light};
    --accent-color: #{$sunset-orange};
    --button-bg: #{$text-primary-light};
    --button-text: #{$white};
    --card-bg: #{rgba($aged-cream, 0.5)};
    --card-hover-bg: #{rgba($aged-cream, 0.5)};
    --card-hover-border: #{$sunset-orange};
    --paper-texture-opacity: 0.05;
    --sunset-orange: #{$sunset-orange};
    --tomato-red: #{$tomato-red};
    --dark-magenta: #{$dark-magenta};
    --eggplant-purple: #{$eggplant-purple};

    // Text
    --text-title: #{$text-title};
    --text-body: #{$text-body};
    --text-mono: #{$text-mono};
    --border-radius: 2px;
}

[data-theme='dark'] {
    --bg-color: #{$shadow-depth};
    --content-bg: #{$carbon-black};
    --header-bg: #{$shadow-depth};
    --text-primary: #{$text-primary-dark};
    --text-secondary: #{$text-secondary-dark};
    --border-color: #{$border-color-dark};
    --accent-color: #{$sunset-orange};
    --button-bg: #{$aged-cream};
    --button-text: #{$carbon-black};
    --card-hover-bg: #{$carbon-black};
    --card-hover-border: #{$sunset-orange};
    --paper-texture-opacity: 0.02;
}