// Brand Color Palette (Translated from reference)
$aged-cream: #E5D8C1;
$carbon-black: #1A1A1B;
$sunset-orange: #E68A2E;
$tomato-red: #C9323D;
$dark-magenta: #912147;
$eggplant-purple: #4D1B31;
$shadow-depth: #0C0C0C;

// Utility colors
$white: #fafafa;
$light-gray: #f5f5f5;
$border-color-light: #eee;
$text-secondary-light: #666;
$text-primary-light: #333;

$dark-gray: #2d2d2d;
$border-color-dark: #3a3a3a;
$text-secondary-dark: #aaa;
$text-primary-dark: #f5f5f5;