@use 'theme';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-primary);
  overflow: hidden;
  transition: background-color 0.2s, color 0.2s;
  max-height: 100vh;

  * {
    // transition: background-color 0.2s, color 0.2s ;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.theme-toggle {
  background: none;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &:hover {
    background-color: var(--bg-color);
  }
}

.btn-primary {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: var(--button-bg);
  border: 2px solid var(--border-color);
  color: var(--button-text);
  border-radius: 2px;
  outline: none;

  cursor: pointer;
  font-size: 1rem;
  font-family: var(--text-body);
  font-weight: 600;
  transition: color 0.2s, border-color 0.2s !important;

  &:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

