@use 'theme';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-primary);
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
  max-height: 100vh;
  * {
    transition: background-color 0.3s, color 0.3s;
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.scrolling-text-container {
  overflow: hidden; 
  white-space: nowrap; 
  background-color: var(--content-bg);
  margin: 20px 0;

  .scrolling-text-inner {
    display: flex; 
    justify-content: flex-start;
    width: max-content; 
    font-family: var(--text-title);
    color: var(--text-primary);
    font-weight: 700;
    letter-spacing: 0.4rem;
    font-size: 8rem;
    user-select: none;
    animation: scroll-left 10s linear infinite; 
  }

  // .scrolling-text-item {
  //   display: inline-block;
  //   background: linear-gradient(90deg, var(--sunset-orange), var(--tomato-red), var(--dark-magenta), var(--eggplant-purple), var(--sunset-orange), var(--tomato-red), var(--dark-magenta), var(--eggplant-purple));
  //   background-size: 300% 100%;
  //   -webkit-background-clip: text;
  //   background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   color: transparent;
  //   animation: gradient-move 5s linear infinite;
  // }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-20%); 
    }
  }

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}


.theme-toggle {
  background: none;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  &:hover {
    background-color: var(--bg-color);
  }
}

.btn-primary {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: var(--button-bg);
  border: 2px solid var(--border-color);
  color: var(--button-text);
  border-radius: 2px;
  outline: none;
  
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--text-body);
  font-weight: 600;
  transition: all 0.2s;


  &:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }

  &.small {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

